/composer.lock
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
.phpunit.result.cache

nbproject/
/nbproject/
/nbproject/*
/nbproject/*.*
/nbproject/*/

vendor/
/vendor/
/vendor/*
/vendor/*.*
/vendor/*/

composer.lock
phpunit.xml

logs/*
!logs/.htaccess

!public/js/*/vendor
public/.htaccess

/config/app-settings.php
/config/env.php

tmp/session/*
!tmp/session/.gitkeep

storage/sqlite/*
!storage/sqlite/.gitkeep
