/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* Start Sticky Footer Code */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main-content-div {
  /*flex: 1 0 auto;*/
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
}
/* End Sticky Footer Code */ 

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
.pad-l1{
    padding-left: 1rem;
}
.pad-r1{
    padding-left: 1rem;
}
.pad-l2{
    padding-left: 2rem;
}
.pad-r2{
    padding-left: 2rem;
}
.pad-l3{
    padding-left: 3rem;
}
.pad-r3{
    padding-left: 3rem;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

/* large and larger */
@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

/* medium and smaller */
@media only screen and (max-width: 992px) {

    .pad2-5-on-med-and-down{
        padding-left: 2.5em !important;
    }
}
